@media (max-width: 1440px) {
    .card h3 {
        font-size: 25px;
    }
    
    .card p {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .card {
        width: 90%;
    }
    
    .card h3 {
        font-size: 20px;
    }
    
    .card p {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .card h3 {
        font-size: 18px;
    }
    
    .card p {
        font-size: 16px;
    }
}
